html {
    font-size: 62.5%;
}
body {
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
}
.header-contenedor {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    padding: 1rem;
    align-items: center
}
.header-buscador-login img {
    width: 15rem;
}
.buscador {
    grid-column: 3/4;
    justify-self: right;
}
.header-login {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
}
.header-login button {
    padding: 1rem 3rem;
    margin-left: 3rem;
    background-color: white;
    border: 1px solid #2A7AE4;
    font-weight: 700;
    color: #2A7AE4;
    cursor: pointer;
}
.header-login button:hover {
    background-color: #2A7AE4;
    color: white;
}
.header-buscador {
    display: none;
}
button[type="submit"] {
    border: none;
    background: transparent; 
    padding: 0;
}
button img {
    width: 2rem;
    cursor: pointer;
}
@media (min-width: 768px) {
    .header-buscador {
        display: block;
        border: none;
        background: transparent; 
        padding: 0;
    }
    input:focus {
        outline: none;
        border: none;
    }
    .header-contenedor {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
    }
    .buscador {
        grid-column: 2/3;
        display: flex;
        justify-self: left;
        background-color: #f5f5f5;
        padding: 1rem 4rem;
        margin: 0 3rem;
        border-radius: 3rem;
    }
    .header-login {
        grid-column: 3/4;
        justify-self: right;
    }
    .header-login button {
        margin: 0;
        padding: 1.3rem 4.5rem;
        font-weight: 700;
    }
}
@media (min-width: 1440px) {
    .header-contenedor {
        padding: 2rem 10rem;
    }
    .header-buscador-login img {
        width: 20rem;
    }
    .buscador {
        font-size: 1.8rem;
        padding: 1rem 10rem;
        margin: 0 5rem;
    }
    .header-login button {
        margin: 0;
        padding: 1.5rem 10rem;
        font-weight: 700;
        font-size: 2rem;
    }
}
.baner-contenedor {
    position: relative;
    width: 100%;
    height: 20rem;
    max-width: 100%;
}
.baner-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}
.baner-contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
}
.baner-titulo {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0.5rem 0;
}
.baner-subtitulo {
    font-size: 1.25rem;
    margin: 0;
    padding-bottom: 1rem;
    display: flex;
    justify-content: left;
    gap: 1rem;
    margin-top: 1rem;
}
.baner-redes img {
    width: 2.5rem;
    height: auto;
    padding-top: 1rem;
}
@media (min-width: 768px) {
    .baner-contenedor {
        height: 25rem;
    }
    .baner-titulo {
        font-size: 4.5rem;
    }
    .baner-subtitulo {
        font-size: 1.8rem;
    }
    .baner-redes img {
        width: 3.5rem;
        height: auto;
        padding-bottom: 1rem;
    }
}
@media (min-width: 1440px) {
    .baner-contenedor {
        height: 40rem;
    }
    .baner-titulo {
        font-size: 6.5rem;
    }
    .baner-subtitulo {
        font-size: 2.5rem;
    }
    .baner-redes img {
        width: 4.5rem;
        height: auto;
        padding-bottom: 1rem;
    }
    .baner-contenido {
        padding: 3rem;
    }
}
.productos-contenedor {
    background-color: #F5F5F5;
    padding: 2rem;
}
.productos-contenedor img {
    margin-top: 1rem;
    width: 16rem;
    height: 17rem;
}
.productos-contenedor-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productos-titulo,
.producto-nombre,
.producto-precio {
    color: #464646
}
.productos-titulo {
    font-size: 3rem;
}
.producto-nombre,
.producto-precio {
    margin: 1rem 0;
}
.producto-precio {
    font-weight: 700;
    font-size: 1.5rem;
}
.productos-contenedor-titulo a,
.productos a {
    text-decoration: none;
    color: #2A7AE4;
    font-weight: 700;
    font-size: 1.8rem;
}
.productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
}
.productos-consolas,
.productos-diversos {
    margin-top: 4rem;
}
@media (min-width: 768px) {
    .productos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.8rem;
    }
    .productos-contenedor img {
        width: 17rem;
        height: 18rem;
    }
}
@media (min-width: 1440px) {
    .productos-contenedor {
        padding: 3rem 10rem;
    }
    .productos {
        display: flex;
        gap: 1.5rem;
    }
    .productos-contenedor img {
        width: 19rem;
        height: 20rem;
    }
}
.rodapie-contenedor {
    display: flex;
    flex-direction: column;
    background-color: #EAF2FD;
    padding: 2rem;
    align-items: center;
}
.rodapie-logo img {
    width: 20rem;
}
.rodapie-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rodapie-nav a {
    text-decoration: none;
    color: #464646;
    padding: 0.5rem 0;
}
.rodapie-titulo {
    color: #464646;
}
.rodapie-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rodapie-formulario input,
textarea {
    margin-bottom: 1rem;
    border: none;
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;
}
textarea {
    padding: 2rem;
    resize: none;   
}
.rodapie-formulario input[type="submit"] {
    width: 15rem;
    background-color: #2A7AE4;
    color: white;
    font-size: 1.7rem;
}
input:focus,
textarea:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #2A7AE4;
}
@media (min-width: 768px) {
    .rodapie-contenedor {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
        gap: 1rem;
    }
    .rodapie-nav {
        grid-row: 2/3;
    }
    .rodapie-formulario {
        grid-row: 1/3;
    }
    .rodapie-formulario {
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }
    .rodapie-logo img {
        width: 22rem;
    }
    .rodapie-nav {
        align-items: flex-start;
    }
    .rodapie-titulo {
        margin-bottom: 0.5rem;
    }
}
@media (min-width: 1440px) {
    .rodapie-contenedor {
        padding: 3rem 10rem;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 1fr;
        gap: 1rem;
    }
    .rodapie-logo {
        grid-row: 1/2;
    }
    .rodapie-nav {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .rodapie-formulario {
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .rodapie-nav a {
        font-size: 1.8rem;
    }
    .rodapie-logo img {
        width: 25rem;
    }
    .rodapie-titulo {
        margin-bottom: 1rem;
        font-size: 2rem;
    }
}
.footer-contenedor {
    padding: 2rem;
    text-align: center;
}
.footer-fecha {
    margin-top: 0.5rem;
    color: #464646;
}
.footer-titulo {
    margin-bottom: 0.5rem;
    color: #464646;
}